---
import PortfolioApp from "../components/PortfolioApp.jsx";
import { getCollection } from "astro:content";

const projectEntries = (await getCollection("projects")).sort(
	(a, b) => a.data.order - b.data.order
);
const blogEntries = (await getCollection("blog")).sort(
	(a, b) => b.data.date.getTime() - a.data.date.getTime()
);

const projects = projectEntries.map((entry) => ({
	name: entry.data.name,
	description: entry.data.description,
	tech: entry.data.tech,
	link: entry.data.link || `/projects/${entry.id}`,
	type: entry.data.type
}));

const blogPosts = blogEntries.map((entry) => ({
	title: entry.data.title,
	excerpt: entry.data.excerpt,
	date: entry.data.date.toLocaleDateString("en-GB", {
		year: "numeric",
		month: "short",
		day: "2-digit"
	}),
	link: `/blog/${entry.id}`
}));
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Marcos Lopez Ortego | Portfolio</title>
	</head>
	<body>
		<PortfolioApp client:load projects={projects} blogPosts={blogPosts} />
	</body>
</html>
